<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>

<div class="wrapper">
    <form class="form"
          action="/login"
          method="post">
        <label>
            firstName: <input type="text" name="firstName">
        </label>
        <label>
            lastName: <input type="text" name="lastName">
        </label>
        <label>
            email: <input type="text" name="email">
        </label>
        <label>
            password: <input type="password" name="password">
        </label>
        <label>
            age: <input type="number" name="age">
        </label>
        <label>
            city: <input type="text" name="city">
        </label>
        <input type="submit">
    </form>
</div>

</body>
</html>